h1
    List of contents
    
ul
    each response, index in (element)
     li = index + ': ' a(href='url.element') + element.title +
     element.user.username + element.user.createdAt

    
    
    
